html.dark {
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(8%)
    saturate(248%) hue-rotate(182deg) brightness(119%) contrast(100%);

  --header-bg: #171c28;
  --top-act-group-bg: #292e39;
  --top-act-group-shadow: rgba(0, 0, 0, 0.2);
  --top-act-group-separator: #ededf6;
  --body-bg: #292e39;
}
