html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(11%) sepia(35%)
    saturate(679%) hue-rotate(210deg) brightness(94%) contrast(105%);

  --header-bg: #eee;
  --top-act-group-bg: #fff;
  --top-act-group-shadow: rgba(237, 237, 246, 0.2);
  --top-act-group-separator: #ededf6;
}
